.blogPage {
}

#header {
    background: #240c49;
    height: auto;
    padding: 100px 100px;
    margin-bottom: 50px;
}
h1 {
    color: white;
    font-family: Arial;
    text-align: center;
}
a#download {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 10px;
}

.thumbnail {
    max-width: 300px;
    max-height: 300px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.blog-link {
    text: white;
}

.post{
    margin-bottom: 5%;
}