
.logo {
    border-radius: 50%;
  }

.top {
  position: fixed;
}

.nav-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.app-body {
  padding-top: 50px;
}


.background {
  background-image: url('./images/space.png')
}

